<dl id="download-options">
  <dt><%= "pages.download.Packed".t %></dt>
  <ul>
    <li><%= link_to 'right.js',      '/builds/current/right.js' %> - <%= "pages.download.core_file".t %></li>
    <li><%= link_to 'right-olds.js', '/builds/current/right-olds.js' %> - <%= "pages.download.old_browsers".t %></li>
    <li><%= link_to 'right.js.zip',  '/builds/current/right.js.zip' %> - <%= "pages.download.zipped_files".t %></li>
  </ul>
  <dt><%= "pages.download.Minified".t %></dt>
  <ul>
    <li><%= link_to 'right-min.js',      '/builds/current/right-min.js' %> - <%= "pages.download.core_file".t %></li>
    <li><%= link_to 'right-olds-min.js', '/builds/current/right-olds-min.js' %> - <%= "pages.download.old_browsers".t %></li>
    <li><%= link_to 'right-min.js.zip',  '/builds/current/right-min.js.zip' %> - <%= "pages.download.zipped_files".t %></li>
  </ul>
  <dt><%= "pages.download.Uncompressed".t %></dt>
  <ul>
    <li><%= link_to 'right-src.js',      '/builds/current/right-src.js' %> - <%= "pages.download.core_file".t %></li>
    <li><%= link_to 'right-olds-src.js', '/builds/current/right-olds-src.js' %> - <%= "pages.download.old_browsers".t %></li>
    <li><%= link_to 'right-src.js.zip',  '/builds/current/right-src.js.zip' %> - <%= "pages.download.zipped_files".t %></li>
  </ul>
</dl>
