<h1>Performance Benchmarks</h1><% @title_text = 'Benchmarks' %>

<p>
  To give you some ideas about the project quality and abilities, some performance measurements took place. All the tests were done by using the <tt>TaskSpeed</tt> utile. The version that contains tests for RightJS can be found in here <%= link_to 'http://github.com/MadRabbit/taskspeed', 'http://github.com/MadRabbit/taskspeed', :target => :_blank %>.
</p>

<p>
  For the tests the following browsers were used.
  <ul>
    <li><a href="#firefox">Firefox</a> 3.5.2 (Gecko/20090729) Windows SP3 on VMWare Fusion</li>
    <li><a href="#safari">Safari</a> 4.0.3 (6531.9) OS X 10.6.0</li>
    <li><a href="#chrome">Google Chrome</a> 2.0.172.43 Windows XP SP3 on VMWare Fusion</li>
    <li><a href="#opera">Opera</a> 10.00 (Build 6652) OS X 10.6.0</li>
    <li><a href="#konq">Konqueror</a> 4.2.2 Ubuntu 9.04 on VMWare Fusion</li>
    <li><a href="#ie8">Internet Explorer</a> 8.0.6001.18702 Windows XP SP3 on VMWare Fusion</li>
    <li><a href="#ie7">Internet Explorer</a> 7.0.5730.13 Windows XP SP2 on VMWare Fusion</li>
    <li><a href="#ie6">Internet Explorer</a> 6.0.2900.2180 Windows XP SP2 on VMWare Fusion</li>
  </ul>
</p>


<a name="firefox"></a>
<h1>Firefox</h1>
<p>
  <div class="shot">
    <a href="/images/benchmarks/ff.png" target="_blank"><%= image_tag 'benchmarks/ff-thmb.png' %></a>
  </div>
</p>

<a name="safari"></a>
<h1>Safari</h1>
<p>
  <div class="shot">
    <a href="/images/benchmarks/safari.png" target="_blank"><%= image_tag 'benchmarks/safari-thmb.png' %></a>
  </div>
</p>

<a name="chrome"></a>
<h1>Google Chrome</h1>
<p>
  <div class="shot">
    <a href="/images/benchmarks/chrome.png" target="_blank"><%= image_tag 'benchmarks/chrome-thmb.png' %></a>
  </div>
</p>

<a name="opera"></a>
<h1>Opera</h1>
<p>
  <div class="shot">
    <a href="/images/benchmarks/opera.png" target="_blank"><%= image_tag 'benchmarks/opera-thmb.png' %></a>
  </div>
</p>

<a name="konq"></a>
<h1>Konqueror</h1>
<p>
  <div class="shot">
    <a href="/images/benchmarks/konq.png" target="_blank"><%= image_tag 'benchmarks/konq-thmb.png' %></a>
  </div>
</p>


<a name="ie8"></a>
<h1>Internet Explorer 8</h1>
<p>
  <div class="shot">
    <a href="/images/benchmarks/ie8.png" target="_blank"><%= image_tag 'benchmarks/ie8-thmb.png' %></a>
  </div>
</p>

<a name="ie7"></a>
<h1>Internet Explorer 7</h1>
<p>
  <div class="shot">
    <a href="/images/benchmarks/ie7.png" target="_blank"><%= image_tag 'benchmarks/ie7-thmb.png' %></a>
  </div>
</p>

<a name="ie6"></a>
<h1>Internet Explorer 6</h1>
<p>
  <div class="shot">
    <a href="/images/benchmarks/ie6.png" target="_blank"><%= image_tag 'benchmarks/ie6-thmb.png' %></a>
  </div>
</p>

<p>&nbsp;</p>
<p>&nbsp;</p>
<p>
  PS: This is sure not the final result. RightJS is still a young project and we are still optimizing things here and there, so it will be even better over the time!
</p>