<h1>Demo Pages Index</h1><% @title_text = "Demos Index" %>

<p>
  <dl>
    <dt>Basic Demos</dt>
    <ul>
      <li><%= link_to 'Visual Effects Demo', '/fx-demo' %></li>
      <li><%= link_to "Drag'n'Drop Demo", '/goods/drag-n-drop/demo' %></li>
    </ul>
    <dt>RightJS UI</dt>
    <ul>
      <li><%= link_to 'Autocompleter', '/ui/autocompleter/demo' %></li>
      <li><%= link_to 'Calendar',      '/ui/calendar/demo' %></li>
      <li><%= link_to 'Tabs',          '/ui/tabs/demo' %></li>
      <li><%= link_to 'Slider',        '/ui/slider/demo' %></li>
      <li><%= link_to 'Rater',         '/ui/rater/demo' %></li>
      <li><%= link_to 'Selectable',    '/ui/selectable/demo' %></li>
      <li><%= link_to 'Sortable',      '/ui/sortable/demo' %></li>
      <li><%= link_to 'Lightbox',      '/ui/lightbox/demo' %></li>
      <li><%= link_to 'Tooltips',      '/ui/tooltips/demo' %></li>
    </ul>
  </dl>
</p>
