<h1>Download</h1><% @title_text = 'Download' %>

<p>
  RightJS comes in all shapes and sizes. Get the latest version <b><%= RIGHTJS_VERSION%></b> right here.
  
  <ul>
    <li><%= link_to 'right.js', '/builds/current/right.js' %> - minified and compressed version, ready to use</li>
    <li><%= link_to 'right-min.js', '/builds/current/right-min.js' %> - minified version, without self-building</li>
    <li><%= link_to 'right-src.js', '/builds/current/right-src.js' %> - uncompressed version with comments</li>
  </ul>
</p>

<h1>Custom Build</h1>
<p>
  You are also free to create your own build of RightJS that fits your needs the best
</p>
<p>
  <%= link_to 'Custom Build Page', builds_path %>
</p>


<h1>GitHub Repository</h1>
<p>
  The original source code of the project situated at the github account over here
</p>
<p>
  <%= link_to "http://github.com/rightjs/rightjs-core", "http://github.com/rightjs/rightjs-core", :target => :_blank %>
</p>
<p>
  <tt>git clone git://github.com/rightjs/rightjs-core.git</tt>
</p>


<h1>License</h1>
<p>
  RightJS is an open-source project released under terms of the MIT-License.
</p>