<h1>Tutorials</h1><% @title_text = 'Tutorials' %>

<dl id="tutorials-index">
  <dt>General Features</dt>
  <ul>
    <%= menu_link_to "Call By Name",           tutorial_path('call-by-name') %>
    <%= menu_link_to "Assignments And Chains", tutorial_path('assignments-and-chains') %>
    <%= menu_link_to "Work With Numbers",      tutorial_path("work-with-numbers") %>
  </ul>
  <dt>DOM Features</dt>
  <ul>
    <%= menu_link_to "DOM Navigation And Manipulations", tutorial_path('dom-navigation-and-manipulations') %>
    <%= menu_link_to "DOM Events Handling Basics",       tutorial_path('dom-events-basics') %>
    <%= menu_link_to "DOM Event Extensions",             tutorial_path('dom-event-extensions') %>
  </ul>
  <dt>Additional Features</dt>
  <ul>
    <%= menu_link_to "Ajax Handling",  tutorial_path('ajax-handling') %>
    <%= menu_link_to "Visual Effects", tutorial_path('visual-effects') %>
  </ul>
</dl>