<h1>RightJS UI</h1><% @title_text = 'UI' %>

<p>
  RightJS UI is a subproject that will contain standard user-interface widgets for RightJS
</p>
<p>
  All the source code of the project available under terms of the MIT license at the
  github service.
</p>
<p>
  <a href="http://github.com/rightjs/rightjs-ui" target="_blank">http://github.com/rightjs/rightjs-ui</a>
</p>
<p>
  <tt>git clone git://github.com/rightjs/rightjs-ui.git</tt>
</p>

<h2>Right Lightbox</h2>
<p>
  Right Lightbox is the standard lightbox feature for RightJS, with all the standard functionality, like
  displaying any html content, ajax load, images browsing, etc.
</p>
<p>
  Info:
    <%= link_to 'Documentation', '/ui/lightbox' %>,
    <%= link_to 'Demo', '/ui/lightbox/demo' %>
    
  Download:
    <%= link_to 'build', '/builds/ui/right-lightbox.js', :target => :_blank %>,
    <%= link_to 'minified', '/builds/ui/right-lightbox-min.js', :target => :_blank %>,
    <%= link_to 'source', '/builds/ui/right-lightbox-src.js', :target => :_blank %>
</p>

<h2>Right Calendar</h2>
<p>
  Right Calendar is the standard calendar feature for RightJS. It might work as a standard date-picker
  widget for the input elements, or as an inline calendar widget on the page
</p>
<p>
  Info:
    <%= link_to 'Documentation', '/ui/calendar' %>,
    <%= link_to 'Demo', '/ui/calendar/demo' %>
    
  Download:
    <%= link_to 'build', '/builds/ui/right-calendar.js', :target => :_blank %>,
    <%= link_to 'minified', '/builds/ui/right-calendar-min.js', :target => :_blank %>,
    <%= link_to 'source', '/builds/ui/right-calendar-src.js', :target => :_blank %>
</p>

<h2>Right Tooltips</h2>
<p>
  Is the basic custom titles/tooltips feature for RightJS
</p>
<p>
  Info:
    <%= link_to 'Documentation', '/ui/tooltips' %>,
    <%= link_to 'Demo', '/ui/tooltips/demo' %>
    
  Download:
    <%= link_to 'build', '/builds/ui/right-tooltips.js', :target => :_blank %>,
    <%= link_to 'minified', '/builds/ui/right-tooltips-min.js', :target => :_blank %>,
    <%= link_to 'source', '/builds/ui/right-tooltips-src.js', :target => :_blank %>
</p>