<h1>Participate</h1><% @title_text = 'Participate' %>

<p>
  If you are interested in the project development, there are some structure descriptions
  and suggestions where you might help.
</p>
<p>
  The project by itself is divided on several major blocks, each has it's own repository at a
  github account <a href="http://github.com/rightjs" target="_blank">http://github.com/rightjs</a>
  and developed mostly separately from the others.
</p>

<h2>RightJS Core</h2>
<p>
  <%= link_to 'Core', 'http://github.com/rightjs/rightjs-core', :target => :_blank %>
  is the central block and a holly caw of the project. It contains the basic engine and meant
  to keep the most common functionality, upon which we can grow plugins and other additional functionality.
</p>
<p>
  You're pretty much welcome with bugfixes and performance optimizations for the block. You also can suggest
  new features, but keep in mind that all the suggestions will be judged by their size and desire for 99% of
  users.
</p>
<p>
  If you have a good new feature, you might better suggest it for the RightJS Goods project
</p>

<h2>RightJS Goods</h2>
<p>
  <%= link_to 'Goods', 'http://github.com/rightjs/rightjs-goods', :target => :_blank %>
  is a collection of officially supported plugins and extensions for RightJS Core. It contains all
  the standard extensions, like JSON, Dragn'n'Drop, etc. Things that most people use but which they don't
  need in 99% of cases.
</p>
<p>
  All the plugins are available as standalone blocks on this list <%= link_to 'RightJS Goods', '/goods' %>
  and you also have them as options at the <%= link_to 'custom building page', builds_path %>
</p>
<p>
  Feel free to suggest and submit new plugins in here. Anything practical is welcome.
</p>

<h2>RightJS UI</h2>
<p>
  <%= link_to 'UI', 'http://github.com/rightjs/rightjs-ui', :target => :_blank %>
  is a collection of user-interface related plugins and widgets. And it also pretty much opened for new stuff.
</p>
<p>
  In this subroject we need help with
  <a href="http://github.com/rightjs/rightjs-ui/tree/master/i18n/" target="_blank">internationalization modules</a>.
  Some of them are incomplete, some need verification and some of them don't exist. So if know any language, which
  is not English or Russian, please check it out, I'd appreciate help with that.
</p>
<p>
  Another way to participate in the project is to work on visual themes for the widgets. Currently the widgets
  have some minimalistic simple styles, but there is a plan to build a collection of standalone visual themes
  for them. So if you are an artist, or kinda an artist and you are interested in this kind of things, please
  <%= link_to 'contact', '/contacts' %> me and we will figure out what to do about that.
</p>

<h2>RightJS Home</h2>
<p>
  <%= link_to 'Home', 'http://github.com/rightjs/rightjs-home', :target => :_blank %>
  is a simple ruby-on-rails project that contains basically documentation, tutorials and some demo pages.
</p>
<p>
  I'm not a native English speaker and still do mistakes here and there. So you could really help with
  spellchecking of the documentation.
</p>
<p>
  The site also needs some help with graphical design, so if you can do a cool new-age minimalistic web-design
  and would like to help with the project, please <%= link_to 'contact', '/contacts' %> me, we can discuss the things and figure something out.
</p>

