<%= chapter "Firefox", :firefox %>
<p>
  <div class="shot">
    <a href="/images/benchmarks/ff.png" target="_blank"><%= image_tag 'benchmarks/ff-thmb.png' %></a>
  </div>
</p>

<%= chapter "Safari", :safari %>
<p>
  <div class="shot">
    <a href="/images/benchmarks/safari.png" target="_blank"><%= image_tag 'benchmarks/safari-thmb.png' %></a>
  </div>
</p>

<%= chapter "Google Chrome", :chrome %>
<p>
  <div class="shot">
    <a href="/images/benchmarks/chrome.png" target="_blank"><%= image_tag 'benchmarks/chrome-thmb.png' %></a>
  </div>
</p>

<%= chapter "Opera", :opera  %>
<p>
  <div class="shot">
    <a href="/images/benchmarks/opera.png" target="_blank"><%= image_tag 'benchmarks/opera-thmb.png' %></a>
  </div>
</p>

<%= chapter "Konqueror", :konq %>
<p>
  <div class="shot">
    <a href="/images/benchmarks/konq.png" target="_blank"><%= image_tag 'benchmarks/konq-thmb.png' %></a>
  </div>
</p>

<%= chapter "Internet Explorer 8", :ie8 %>
<p>
  <div class="shot">
    <a href="/images/benchmarks/ie8.png" target="_blank"><%= image_tag 'benchmarks/ie8-thmb.png' %></a>
  </div>
</p>

<%= chapter "Internet Explorer 7", :ie7 %>
<p>
  <div class="shot">
    <a href="/images/benchmarks/ie7.png" target="_blank"><%= image_tag 'benchmarks/ie7-thmb.png' %></a>
  </div>
</p>

<%= chapter "Internet Explorer 6", :ie6 %>
<p>
  <div class="shot">
    <a href="/images/benchmarks/ie6.png" target="_blank"><%= image_tag 'benchmarks/ie6-thmb.png' %></a>
  </div>
</p>
