<h1>Right Autocompleter Demo</h1><% @title_text = "UI: Autocompleter: Demo" %>

<p>
  This is a demo page for the <%= link_to 'Right Autocompelter', '/ui/autocompleter' %> feature
</p>

<h2>Simple Example</h2>
<p>
  Pick up some programming language via ajax
</p>
<p>
  <input type="text" id="remote-auto-field" />
  <script type="text/javascript">
  // <![CDATA[
    new Autocompleter('remote-auto-field', {
      url: '/ui/autocompleter/languages/%{search}.js'
    });
  // ]]>
  </script>
</p>
<code>
new Autocompleter('remote-auto-field', {
  url: '/ui/autocompleter/languages/%{search}.js'
});
</code>
<p>
  Same thing locally
</p>
<p>
  <input type="text" id="local-auto-field" />
  <script type="text/javascript">
  // <![CDATA[
    new Autocompleter('local-auto-field', {
      local: <%= PagesController::LANGUAGES.to_json %>
    });
  // ]]>
  </script>
</p>
<code>
new Autocompleter('local-auto-field', {
  local: <%= PagesController::LANGUAGES.slice(0,4).to_json %>
});
</code>

<h2>Auto-Discovered Fields</h2>
<p>
  You might have the same result as above with auto discovered fields like this
</p>
<p>
  <input type="text" rel="autocompleter[/ui/autocompleter/languages/%{search}.js]" />
</p>
<code>
<input type="text" rel="autocompleter[/ui/autocompleter/languages/%{search}.js]" />
</code>
<p>
  <input type="text" rel="autocompleter<%= PagesController::LANGUAGES.to_json.gsub('"', "'") %>" />
</p>
<code>
<input type="text" rel="autocompleter<%= PagesController::LANGUAGES.slice(0,4).to_json.gsub('"', "'") %>" />
</code>

<div style="height: 10em"></div>