<div id="contacts">
  <h2><%= 'menu.Questions'.t %></h2>
  <a href="&#x6D;&#x61;i&#x6C;&#x74;&#x6F;:&#105;&#110;&#102;&#111;&#064;&#114;&#105;&#103;&#104;&#116;&#106;&#115;&#046;&#111;&#114;&#103;">&#105;&#110;&#102;&#111;&#064;&#114;&#105;&#103;&#104;&#116;&#106;&#115;&#046;&#111;&#114;&#103;</a>
</div>
<div id="bottom-menu">
  <h2><%= 'menu.About_the_Framework'.t %></h2>
  <%= link_to "menu.Benchmarks".t, "/benchmarks" %> |
  <%= link_to "menu.Browsers".t,   "/browsers"   %> |
  <%= link_to "menu.Comparison".t, "/comparison" %> |
  <%= link_to "menu.Philosophy".t, "/philosophy" %> |
  <%= link_to "menu.Roadmap".t,    "/roadmap"    %> |
  <%= link_to "menu.Contacts".t,   "/contacts"   %>
</div>