<div id="contacts">
  <h2>Questions?</h2>
  <script language="JavaScript" type="text/javascript">
  var i,y,x="3c6120687265663d226d61696c746f3a696e666f4072696768746a732e6f7267223e696e666f4072696768746a732e6f72673c2f613e";y='';for(i=0;i<x.length;i+=2){y+=unescape('%'+x.substr(i,2));}document.write(y);
  </script>
</div>
<div id="bottom-menu">
  <h2>About the Framework</h2>
  <%= link_to "Benchmarks", "/benchmarks" %> |
  <%= link_to "Browsers",   "/browsers"   %> |
  <%= link_to "Comparison", "/comparison" %> |
  <%= link_to "Credits",    "/credits"    %> |
  <%= link_to "Philosophy", "/philosophy" %> |
  <%= link_to "Roadmap",    "/roadmap"    %> |
  <%= link_to "Contacts",   "/contacts"   %>
</div>