<div id="contacts">
  <h2>Questions?</h2>
  <%= link_to 'info@rightjs.org', '/contacts' %>
</div>
<div id="bottom-menu">
  <h2>About the Framework</h2>
  <%= link_to "Benchmarks" %> |
  <%= link_to "Browsers" %>   |
  <%= link_to "Comparison" %> |
  <%= link_to "Credits" %>    |
  <%= link_to "Philosophy" %> |
  <%= link_to "Roadmap" %>
</div>