<div id="contacts">
  <h2><%= 'menu.Questions'.t %></h2>
  <%= contact_email %>
</div>
<div id="bottom-menu">
  <h2><%= 'menu.About_the_Framework'.t %></h2>
  <%= link_to "menu.Benchmarks".t, "/benchmarks" %> |
  <%= link_to "menu.Browsers".t,   "/browsers"   %> |
  <%= link_to "menu.Comparison".t, "/comparison" %> |
  <%= link_to "menu.Philosophy".t, "/philosophy" %> |
  <%= link_to "menu.Roadmap".t,    "/roadmap"    %> |
  <%= link_to "menu.Contacts".t,   "/contacts"   %>
</div>