<div id="main-menu">
  <ul>
    <%= menu_link_to 'Home',    '/' %>
    <%= menu_link_to 'Download', download_path %>
    <%= menu_link_to 'Plugins',  '/plugins' %>
    <%= menu_link_to 'Demos',   '/demos' %>
    <%= menu_link_to 'Docs',     documentation_path %>
    <%= menu_link_to 'Blog',     '/blog' %>
  </ul>
</div>