<div id="main-menu">
  <ul>
    <%= menu_link_to 'Home',     '/' %>
    <%= menu_link_to 'Blog',     '/blog' %>
    <%= menu_link_to 'Download', download_path %>
    <%= menu_link_to 'Docs',     documentation_path %>
    <%= menu_link_to 'Fx.Demo',  '/fx-demo' %>
    <%= menu_link_to 'Contacts', contacts_path %>
  </ul>
</div>