<div id="main-menu">
  <ul>
    <%= menu_link_to 'Home', '/' %>
    <%= menu_link_to 'Blog', '/blog' %>
    <%= menu_link_to 'Download', '/download' %>
    <%= menu_link_to 'Documentation',  '/docs' %>
    <%= menu_link_to 'Contacts', '/contacts' %>
  </ul>
</div>