<div id="sidebar">
  <div id="api-search" class="box">
    <label>API-Search</label>
    <input type="text" value="Search" id="api-search-field" onclick="this.value=''" />
    <script type="text/javascript">
    // <![CDATA[
    new Autocompleter('api-search-field', {
      url: '/docs/search/%{search}.js',
      onSelect: function() {
        this.oldValue = this.input.value;
      },
      onDone: function() {
        var current = this.container.first('.current');
        if (current) {
          document.location.href = current.title;
        }
        this.input.setValue(this.oldValue).blur();
      }
    });
    // ]]>
    </script>
  </div>
  
<% if request.request_uri.starts_with?('/docs') %>
  <div class="box">
    <label>Classes</label>
    <%= right_js_classes_menu %>
  </div>
<% else -%>
  <div class="box">
    <label>Get Latest Version</label>
    <ul>
      <%= menu_link_to "RightJS v#{RIGHTJS_VERSION}", "/builds/current/right.js.zip" %>
    </ul>
  </div>
  <div class="box">
    <label>Documentation</label>
    <ul>
      <%= menu_link_to 'API-Reference', documentation_path %>
      <%= menu_link_to 'Tutorials', '/tutorials' %>
      
    </ul>
  </div>
  <div class="box">
    <label>About Project</label>
    <ul>
      <%= menu_link_to 'Comparison', '/comparison' %>
      <%= menu_link_to 'Benchmarks', '/benchmarks' %>
      <%= menu_link_to 'Philosophy', '/philosophy' %>
      <%= menu_link_to 'Browsers',   '/browsers'   %>
      <%= menu_link_to 'Roadmap',    '/roadmap'    %>
      <%= menu_link_to 'Credits',    '/credits'    %>
    </ul>
  </div>
  
  <div class="box">
    <label>Additionals</label>
    <ul>
      <%= menu_link_to 'RightJS Goods', goods_path %>
      <%= menu_link_to 'RightJS UI', '/ui' %>
      <%= menu_link_to 'Showcases', '/showcases' %>
    </ul>
  </div>
  
  <div class="box">
    <label>Community</label>
    <ul>
      <%= menu_link_to 'Google Group', 'http://groups.google.com/group/rightjs', :target => :_blank %>
      <%= menu_link_to 'Tickets Tracker', RIGHTJS_TICKETS_TRACKER_URL, :target => :_blank %>
      <%= menu_link_to 'Participate!', '/participate' %>
    </ul>
  </div>
<% end -%>

  <div class="box">
    <div id="rss-feed">
      <%= image_tag 'rss.png' %>
      <%= link_to "RSS Feed", posts_path(:format => :rss) %>
    </div>
    <div id="twitter">
      <%= image_tag 'twitter.png' %>
      <%= link_to "Follow On Twitter", "http://twitter.com/rightjs" %>
    </div>
  </div>
</div>