<div id="sidebar">
<% if request.request_uri.starts_with?('/docs') %>
  <%= render 'layouts/search_box' %>

  <div class="box" id="api-lists">
    <%= right_js_classes_menu %>
  </div>
<% else -%>
  <div class="box" id="download-box">
    <h1><%= 'sidebar.Get_it'.t %></h1>
    <ul>
      <%= menu_link_to "RightJS v#{RIGHTJS_VERSION}", "/builds/current/right.js.zip" %>
    </ul>
  </div>

  <%= render 'layouts/search_box' %>

  <div class="box">
    <label><%= 'sidebar.Documentation'.t %></label>
    <ul>
      <%= menu_link_to 'sidebar.Getting_Started'.t, tutorial_path('getting-started') %>
      <%= menu_link_to 'sidebar.Top_12_Features'.t, tutorial_path('top-features') %>
      <%= menu_link_to 'sidebar.API_Reference'.t, documentation_path %>
      <%= menu_link_to 'sidebar.Tutorials'.t, '/tutorials' %>
    </ul>
  </div>

  <div class="box">
    <label><%= 'sidebar.Additional'.t %></label>
    <ul>
      <%= menu_link_to 'sidebar.RightJS_Plugins'.t, plugins_path %>
      <%= plugins_modules_menu if request.request_uri.starts_with?('/plugins/') %>
      <%= menu_link_to 'sidebar.RightJS_UI'.t, '/ui' %>
      <%= ui_modules_menu if request.request_uri.starts_with?('/ui/') %>
      <%= menu_link_to 'sidebar.Showcases'.t, '/showcases' %>
    </ul>
  </div>

  <div class="box">
    <label><%= 'sidebar.Community'.t %></label>
    <ul>
      <%= menu_link_to 'sidebar.Google_Group'.t, 'http://groups.google.com/group/rightjs' %>
      <%= menu_link_to 'sidebar.Tickets_Tracker'.t, RIGHTJS_TICKETS_TRACKER_URL %>
      <%= menu_link_to 'sidebar.Code_Snippets'.t, 'http://github.com/rightjs/rightjs-snippets' %>
      <%= menu_link_to 'sidebar.IRC_rightjs'.t, 'irc://irc.freenode.net/rightjs' %>
      <%= menu_link_to 'sidebar.Participate'.t, '/participate' %>
    </ul>
  </div>
<% end -%>

  <div class="box">
    <a href='http://www.pledgie.com/campaigns/14259'><img alt='Donate!' src='http://www.pledgie.com/campaigns/14259.png?skin_name=chrome' border='0' /></a>
  </div>

  <div class="box">
    <ul id="social">
      <li><%= link_to "RSS",     posts_path(:format => :rss),  :id => "rss-link"     %></li>
      <li><%= link_to "Twitter", "http://twitter.com/rightjs", :id => "twitter-link" %></li>
      <li><%= link_to "GitHub",  "http://github.com/rightjs",  :id => "github-link"  %></li>
    </ul>
  </div>
</div>