<div id="sidebar">
  <!--div id="api-search" class="box">
    <label>API-Search</label>
    <input type="text" value="Search" disabled="true" />
  </div-->
  
<% if request.request_uri.starts_with?('/docs') %>
  <div class="box">
    <label>Classes</label>
    <%= right_js_classes_menu %>
  </div>
<% else -%>
  <div class="box">
    <label>About Project</label>
    <ul>
      <%= menu_link_to 'Philosophy', '/philosophy' %>
      <%= menu_link_to 'Benchmarks', '/benchmarks' %>
      <%= menu_link_to 'Credits',    '/credits' %>
    </ul>
  </div>
  <div class="box">
    <label>Documentation</label>
    <ul>
      <%= menu_link_to 'Tutorials', '/tutorials' %>
      <!--%= menu_link_to 'Plugins',   '/plugins' %-->
      <!--%= menu_link_to 'Showcases', '/showcases' %-->
    </ul>
  </div>
  
  <!--div class="box">
    <label>Community</label>
    <ul>
      <%= menu_link_to 'Google group', 'google/group'%>
    </ul>
  </div-->
<% end -%>

  <div class="box">
    <div id="rss-feed">
      <%= image_tag 'rss.png' %>
      <%= link_to "RSS Feed", posts_path(:format => :rss) %>
    </div>
  </div>
</div>