<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <title><%= title_text %></title>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <%= auto_discovery_link_tag(:rss, posts_url(:format => :rss), :title => "RightJS News") %>
    <%= stylesheet_link_tag 'application' %>
    <%= javascript_include_tag 'right.js'%>
    <script type="text/javascript" src="/builds/ui/right-autocompleter.js"></script>
  </head>
  <body>
    <div id="body">
      <div id="head">
        <a href="/" id="logo">RightJS</a>
        <div id="slogan">The Right JavaScript Framework</div>
        
        <%= render :partial => "layouts/main_menu" %>
        <%= render :partial => "layouts/lang_switch" %>
      </div>
      <div id="main">
        <%= render :partial => "layouts/sidebar" %>
        
        <div id="info">
          <%= yield %>
        </div>
        <div style="clear:both"></div>
      </div>
      <div id="foot">
        Copyright &copy; Nikolay V. Nemshilov aka St.
      </div>
    </div>
    
    <script src="http://www.google-analytics.com/ga.js" type="text/javascript"></script>
    <script type="text/javascript">
    // <![CDATA[
      try { _gat._getTracker("UA-10292980-1")._trackPageview(); } catch(err) {}
    // ]]>
    </script>
  </body>
</html>