<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <title><%= title_text %></title>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <%= stylesheet_link_tag 'application' %>
  </head>
  <body>
    <div id="body">
      <div id="head">
        <a href="/" id="logo">RightJS</a>
        <div id="slogan">When rightness call</div>
        
        <%= render :partial => "layouts/main_menu" %>
        <%= render :partial => "layouts/lang_switch" %>
      </div>
      <div id="main">
        <%= render :partial => "layouts/sidebar" %>
        
        <div id="info">
          <%= yield %>
        </div>
        <div style="clear:both"></div>
      </div>
      <div id="foot">
        Copyright &copy; Nikolay V. Nemshilov aka St.
      </div>
    </div>
  </body>
</html>